<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648858722371-3s88mrmrre5s7qlm2iq66d2c5ksp8q81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648858722371-3s88mrmrre5s7qlm2iq66d2c5ksp8q81</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>648858722371-4thisbq7rf4ce5aukcrj823rp02f11ke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQlLAnFh0vWyzHdEphCgtvyCeLfHOL2bc</string>
	<key>GCM_SENDER_ID</key>
	<string>648858722371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.nuland.lemonade</string>
	<key>PROJECT_ID</key>
	<string>private-kit-sm</string>
	<key>STORAGE_BUCKET</key>
	<string>private-kit-sm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648858722371:ios:4513a37b8b544908d734f6</string>
	<key>DATABASE_URL</key>
	<string>https://private-kit-sm.firebaseio.com</string>
</dict>
</plist>